ODXML/twolaat.xlsx.xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="twolaat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="WayOfLookingAtATurtles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="WayOfLookingAtATurtle">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="WayNumber" type="xs:string" />
                    <xs:element name="DisplayWayNumber" type="xs:string" />
                    <xs:element name="MainFileName" type="xs:string" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                    <xs:element name="Notes" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TurtleAttributes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="TurtleAttribute">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Type" type="xs:string" />
                    <xs:element name="InitialValue" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Colors">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Color">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="HexValue" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PenStates">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PenState">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TurtleCommands">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="TurtleCommand">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                    <xs:element minOccurs="0" name="Parameter" type="xs:string" />
                    <xs:element minOccurs="0" name="ParameterType" type="xs:string" />
                    <xs:element name="Version" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="Min" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="Max" type="xs:unsignedShort" />
                    <xs:element name="APIName" type="xs:string" />
                    <xs:element minOccurs="0" name="APIArgument" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PredefinedScripts">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PredefinedScript">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="DisplayName" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                    <xs:element name="IsActive" type="xs:string" />
                    <xs:element name="Version" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PredefinedScriptSteps">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PredefinedScriptStep">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PredefinedScript" type="xs:string" />
                    <xs:element name="Command" type="xs:string" />
                    <xs:element minOccurs="0" name="Description" type="xs:string" />
                    <xs:element minOccurs="0" name="PredefinedScriptSteps_x0023_csv_x0023_NoName" type="xs:string" />
                    <xs:element minOccurs="0" name="Argument" type="xs:string" />
                    <xs:element minOccurs="0" name="ArgumentType" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>